<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<!--	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>-->
	<!--	<link type="text/css" rel="stylesheet" th:href="@{css/Pag-Inicial.css}"/>-->
	<!--	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet"/>-->
	<link type="text/css" rel="stylesheet" th:href="@{~/css/estilo.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption !== '') {
					window.location.replace('home?lang=' + selectedOption);
				}
			});
		});

		function updateDiv() {
			$.get("feedback/{feedback}/{id}", function(fragment) { // get from controller
				$("#feedback").replaceWith(fragment); // update snippet of page
			});
		}
	</script>
	
	<style>
		#customers {
		  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}
		
		#customers td, #customers th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}
		
		#customers tr:nth-child(even){background-color: #f2f2f2;}
		
		#customers tr:hover {background-color: #ddd;}
		
		#customers th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: mediumblue;
		  color: white;
		}
	</style>
	
	<title>Media Center</title>
</head>

<body>
	<!-- CABECARIO -->
	<header id="header">
		<!-- Nav -->
		<div id="nav">
			<!-- MENU SUPERIOR Nav -->
			<div id="nav-fixed">
				<div class="container">
					<!-- TITULO -->
					<div class="nav-logo">
						<a href="/home" class="logo">SOCIAL MEDIA</a>
					</div>
					<!-- /TITULO -->
	
					<!-- nav -->
<!--					<ul class="nav-menu nav navbar-nav">-->
<!--						<li th:each="categoria, iStat : ${categorias}" th:class="'cat-'+${iStat.count}">-->
<!--                                <a href="#" th:href="@{/home/busca_categoria/{categoria}(categoria=${categoria.getDescricao()})}"-->
<!--                                   th:text="#{*{categoria.getDescricao()}}"></a>-->
<!--						</li>-->
<!--					</ul>-->
					<!-- /nav -->
					
					<div class="nav-btns">
						<button class="aside-btn">
							<i class="fa fa-bars"></i>
						</button>
						<button class="search-btn">
							<i class="fa fa-search"></i>
						</button>
						<div class="search-form">
							<form action="/home/busca" method="post">
								<div class="search-form">
									<input class="search-input" type="text" name="descricao"
										   placeholder="Digite sua pesquisa"/>
									<button class="search-close">
										<input type="submit">
										<i class="fa fa-times"></i>
									</button>
								</div>
								<input class="search-input" type="text" name="descricao" autocomplete="off">
								<input type="submit">
							</form>
							<button class="search-close">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /BOTÃO PESQUISA & TRANSIÇÃO -->
				</div>
			</div>
			<!-- /MENU SEPERIOR Nav -->
	
			<!-- MENU LATERAL Nav -->
			<div id="nav-aside">
				<!-- nav -->
				<div class="section-row">
					<ul class="nav-aside-menu">
						<li><a th:href="@{/index}" th:text="#{inicio}"></a></li>
						<li><a th:text="#{sobre-nos}"></a></li>
						<li><a th:href="@{/conteudo/criar}" th:text="#{crie-sua-noticia}"></a></li>
						<li><a th:href="@{/arquivo/upload}"
							   th:text="#{faca-upload-de-material}"></a></li>
						<li><a href="login.html" th:text="#{sair}"></a></li>
					</ul>
				</div>
				<!-- /nav -->
	
				<!-- MEDIA SOCIAS -->
				<div class="section-row">
					<h3><span th:text="#{lang.esc}"></span>:</h3>
					<ul>
						<li><a href="http://localhost:8080/home?lang=pt"><img alt="" src="/imagens/portugues.png" class="icon-ling"></a> português</li>
						<li><a href="http://localhost:8080/home?lang=es"><img alt="" src="/imagens/spanish.png" class="icon-ling"></a> spanish</li>
						<li><a href="http://localhost:8080/home?lang=en"><img alt="" src="/imagens/english.png" class="icon-ling"></a> english</li>
					</ul>
				</div>
				<!-- /MEDIA SOCIAS -->
	
				<!-- FECHAR MENU LATERAL Nav -->
				<button class="nav-aside-close">
					<i class="fa fa-times"></i>
				</button>
				<!-- FECHAR MENU LATERAL Nav -->
			</div>
			<!-- /MENU LATEAL Nav -->
		</div>
		<!-- /Nav -->
	</header>
	<!-- /CABECARIO -->
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<table id="customers">
					<thead>
					<tr>
						<th>Categorias</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="categoria, iStat : ${categorias}" th:class="'cat-'+${iStat.count}">
						<td th:text="*{categoria.getDescricao()}"></td>
						<td>

							<form th:action="@{/removerCategoria}" method="post">
								<input type="hidden" name="id" th:value="*{categoria.getId()}">
								<input type="submit" value="x">
							</form>

						</td>
					</tr>
					<tr>
						<form th:action="@{/inserirCategoria}" method="post">
							<td>
								<input type="text" name="nome">
							</td>
							<td>
								<input type="submit" value="adicionar">
							</td>
						</form>
					</tr>
					</tbody>
				</table>
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	
	
	
	
	
	<!-- RODAPÉ -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html" class="logo">SOCIALMEDIA</a>
						</div>
	
						<div class="footer-copyright" th:text="#{todos-os-direitos-reservados}">
							<span>&copy;Copyright &copy;<script>document.write(new Date().getFullYear());</script>

							</span>
						</div>
					</div>
				</div>
	
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="footer-widget">
								<h3 class="footer-title" th:text="#{sobre-nos}"></h3>
								<ul class="footer-links">
									<li><a href="sobre-nos.html" th:text="#{quem-somos}"></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="footer-widget">
								<h3 class="footer-title" th:text="#{categorias}"></h3>
								<ul class="footer-links">
									<li><a href="#" th:text="#{esportes}"></a></li>
									<li><a href="#" th:text="#{politica}"></a></li>
									<li><a href="#" th:text="#{tecnologia}"></a></li>
									<li><a href="#" th:text="#{jornal}"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-md-3"><meta charset="utf-8" />
			    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
			    <meta name="viewport" content="width=device-width, initial-scale=1" />
			    <meta name="viewport" content="width=device-width, user-scalable=no" />
			    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
						rel="stylesheet" />
			    <link href="/css/style.css" rel="stylesheet" />
			    <link href="css/Pag-Inicial.css" rel="stylesheet" />
			    <link
						href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600"
						rel="stylesheet" />
			    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
			    <link rel="stylesheet" href="css/font-awesome.min.css" />
			    <link type="text/css" rel="stylesheet" href="/css/estilo.css" />

					<div class="footer-widget">
						<h3 class="footer-title" th:text="#{receba-nossas-atualizacoes}"></h3>
						<div class="footer-newsletter">
							<form>
								<input class="input" type="email" name="newsletter"
									placeholder="Digite seu e-mail">
								<button class="newsletter-btn">
									<i class="fa fa-paper-plane"></i>
								</button>
							</form>
						</div>
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
	
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /RODAPÉ -->
	
	<script th:src="@{~/js/jquery.min.js}"></script>
	<script th:src="@{~/js/bootstrap.min.js}"></script>
	<script th:src="@{~/js/main.js}"></script>
<!--	-->
</body>
</html>