<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Editar Artigo</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=rficbx1xu9hgmg4edb9i3qwjwuakiwqbmoufhkibrzj5u02b"></script>
        <script type="text/javascript" src="static/js/tinymce/tinymce.js"></script>
        <script type="text/javascript" src="static/js/tinymce/jquery.tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    </head>
    <body>
    <h1>Editor de texto HTML</h1>
    <form method="post">
        <textarea id="mytextarea">Editor</textarea>
    </form>
    </body>
</html>